# Default values for base-np-security.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

# TODO:
# cilium:
#   enabled: false

standardNetworkPolicies:
  denyAll: true
  blockCloudMetadata: true
